
.array{
    font: optional;
    /* font-weight: 200;
     */font-size: xx-large;
    color-scheme: paleblue;
    font-family: monospace;
    block-size: 5cap;
    align-items: center;
    justify-content: center;
    color: red;

}